body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}
html {
    height: 100%;
  }
.container{
    display: grid;
    width: 500px;
    height:500px;
    border: 1px solid;
}
.hovered{
    background-color: aqua;
}